@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zarządzanie magazynem</h1>
    <p>Serwis internetowy mający o tematyce zarządzania magazynem.</p>
    <img src="/images/magazyn.jpg" alt="Magazyn">
</div>
